
html *{
    font-family: 'Monsterrat', sans-serif;
}

body{
  background-image: radial-gradient(DarkGray, #989898);
}

.wrapper{
    display: grid;
    grid-template-rows: 75px calc(100vh - 100px);
    grid-template-areas: "search" "results";
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
    left: 100px;
	top: 100px;
	width: 60%;
	object-fit: contain;

}

.right {
    right: 30px;
	width: 60%;

}

.description h1{
	font-weight: 250;
	font-size: 50px;
	margin-block-end: 0px;
}

.description p{
	font-weight:250;
	font-size:25px;
}

.stock-quantity{
	font-weight:250;
	font-size:20px;
	color:green;
}

.price{
	font-size: 30px;
	font-weight: 250;
	top: 80px;
	right: 50px;
	padding-top: 40px;
}

.underline{
    width: 25%;
    border-color: black;
    border-width: 3px;
    margin-top: 0px
}

.cartprice{
	font-size: 20px;
	font-weight: 200;
	top: 80px;
	right: 50px;
	padding-top: 40px;
}

.carttotal{
	font-size: 30px;
	color: red;
	font-weight: 200;
	top: 80px;
	right: 50px;
}

.shipping-fee{
	font-weight:250;
	font-size:20px;
	color: green;
	top: 10px;
	right: 50px;
}

.customer-quantity{
	font-weight:250;
	font-size:20px;
	padding: 5px;
	background-color: #0000ff00;
	top: 50px;
	left: 50px;
	width: 10em;
}

.add-cart{
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15em;
  height: 2em;
  font-size:30px;
  margin-top:15px;
  margin-bottom: 15px;
}

.submit{
  background:#ccc;
  border:0 none;
  width: 80px;
  border-radius: 5px;
  padding:5px 15px;
}

.search{
  border-radius: 5px;
  width: 400px;
  height: 30px;
}

.search-button{
	color: blue;
	width: 80px;
	cursor: pointer;
	font-size: 20px;
}
.proceed{
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
 	width: 15em;
 	height: 2em;
	font-size:30px;
	margin-top:150px;
}

#ship{
	font-size:15px;
	color:green;
}



.dropbtn {
  background-color: #fff;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #fff;
}

#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  margin-left: 375px;
  width: 550px;
  padding: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.body{
  margin:unset;
  display: flex;
  justify-content: center;
}

.results{
  bottom: 0;
  height: 90%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.result{
  display: flex;
  margin:10px;
  width:45%;
}
.result.image{
  width: unset;
  display: flex;
  align-items: center;
}
.result.text{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.result.text>*{
  margin:3px;
  width: 100%;
}
.result.title{
  font-size: 24px;
}
.result.price{
  font-size: 24px;
  padding-top: 0px;
}
.result.qty{
  font-size: 24px;
}

.result.details-btn{
  background-color:#ffffff;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius:23px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:10px 25px;
  text-decoration:none;
  width: 50%;
  align-self: center;
  margin-top: auto;
}
.result.details-btn:hover {
	background-color:#f5f5f5;
}
.body>.search{
  position: fixed;
  height: 10%;
}
