<!DOCTYPE html>
<html lang="en">

<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		body{
		background: wheat;
		}
	</style>
<body>

<!-- ON LEFT SIDE -  DISPLAY PICTURE OF ITEM-->
  <div class = "split left">
		<img src = "{{ url }}" alt = "Product image" width="300" height="200" >
  </div>
<!-- ON RIGHT SIDE	 -->
  <div class = "split right">
<!-- ADD DESCRIPTION OF PRODUCT -->
 	<div class = "description">
		<!-- <label>Description:</label> -->
		<h1>Item: {{ name }}</h1>
 	</div>

<!-- DISPLAY PRICE OF PRODUCT -->
 	<div class = "cartprice">
		<label>Items({{ qtyC }}): ${{ priceQty }}</label>
		<br>
		<label>Shipping: ${{ shipping }}</label>
		<hr class = "underline" align="left">
 	</div>
 	<div class = "carttotal">
		<label>Total: ${{ total }}</label>
 	</div>

<!--ADD TO CART -->
 	<!-- <div class = "add-cart"> -->
	  <input type="submit" name="Submit" class = "add-cart" value="Proceed to checkout">
	<div class="search-button">
		<i class="glyphicon glyphicon-search" onclick="searchPage()">Search</i>
	</div>

<script>
function searchPage() {
  location.replace("{{ url_for('search') }}")
}
</script>

 	<!-- </div> -->
</div>

</body>
</html>